/*我的关注*/
#attention{min-height: 158px;position: relative}
#attention #loading{margin-top:35px;height:100px}
#attention .group-name-list li{position:relative;color:#414b6c;height:28px;padding:0 10px;line-height: 25px;text-align: center;border:1px solid #ccc;margin-right:17px;cursor:pointer;margin-bottom:10px;}
#attention .group-name-list .gp-active{color:#fff;background: #4a60a3;}
#attention .group-name-list .dropdown-menu{left:0;top:30px;min-width:100%}
#attention .group-name-list .dropdown-menu li{border:0;margin:0 auto;}
#attention .group-name-list .dropdown-menu li a{padding: 3px;}
#attention hr{border:1px dashed #E8E8E8;margin:5px 0 15px;}
#attention .group-stock-list tr input[type='checkbox']{margin-right:5px;margin-top:3px;}
#attention .group-stock-list thead td .sort_img{width:8px;height:11px;margin-left:2px;cursor:pointer}
#attention .btn-del-stock{display: none;cursor: pointer;}
#attention .bulk-trade-op img{cursor: pointer}
/*模态弹出框批量可买卖*/
#attention .modal-body{text-align: center!important;padding:10px 0 20px;}
@media (min-width: 768px) {#attention .modal-sm{margin:200px auto}}
#attention .modal-trade-num{margin:10px auto;}
#attention .modal-trade-num input{width:67px;}
#attention .bulk-trade-error{color:#d14a4a;margin:0px auto;font-size: 12px;height:20px;visibility: hidden}
#attention .one-stock-trade{cursor:pointer;}
