body {
    background: #f2f3f8;
}

* {
    font-family: "Microsoft yahei";
}

.index-container {
    max-width: 810px;
    margin: 0 auto;
    padding: 0;
}

.row {
    margin: 0;
}

.row-no {
    /*background: #ddd;*/
    text-align: center;
    margin: 30px 0 0 140px;
}

.index-items {
    min-height: 110px;
    background-color: #fff;
}

.redStyle {
    color: #d14a4a;
    border-bottom: 2px solid #d14a4a;
}

.redColor {
    color: #d14a4a;
}
.changeStyle{
    margin-left:4px;
}
.greenStyle {
    color: #148855;
    border-bottom: 2px solid #148855;
}

.greenColor {
    color: #148855;
}
.grayStyle{color:#148855;border-bottom:2px solid #148855;}

.index {
    height: 68px;
    margin: 16px 0 0;
}

.index-title {
    font-size: 16px;
}

.index-box-left {
    font-family: "微软雅黑", 'Microsoft Yahei', Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.index-box-left img {
    vertical-align: middle;
}

.index-box-left span {
    vertical-align: middle;
    display: inline-block;
}

.index p {
    margin: 0 -2px 0 -5px;
}

.index img {
    margin: 0 -6px 0 0;
}

.wk-user-no {
    text-align: center;
    height: 100px;
    line-height: 100px;
}

.dropdown-menu {
    background: #fff;
    border: 1px solid #ddd;
    border-left: none;
    box-shadow: #d8d8d8 0 1px 8px;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 192px;
    min-width: 130px;
}

.myAccount-1 li {
    /*margin-left:12px;*/
    margin-top: 13px;
    margin-bottom: 10px;
    text-align: center;
    /*background: rosybrown;*/
}

/*.myAccount-1 li:hover{*/
/*background-color:#f2f3f8;*/
/*padding:5px 0;*/
/*}*/
.myAccount-1 a {
    color: #000;
    text-decoration: none;
}

.glyphicon-pencil {
    -webkit-transform: rotate(130deg);
    /*background-color: red;*/
}

/*环形收益分析*/
.encharts {
    background: #ffffff;
}

.encharts_left, .encharts_right {
    overflow: hidden;
}

#profit, #loss {
    width: 120px;
    height: 120px;
}

.profit-amount, .loss-amount {
    overflow: hidden;
    margin-top: 37px;
}

.profit-amount p, .loss-amount p {
    margin: 0;
}

.profit-amount p:nth-child(1), .loss-amount p:nth-child(1) {
    font-size: 20px;
}

.profit-amount p:nth-child(2), .loss-amount p:nth-child(2) {
    font-size: 14px;
    color: #525252;
}

.index-main {
    background: #FFFFFF;
    margin-top: 24px;
}

/*.fund-data {*/
/*max-width: 578px;*/
/*min-height: 60px;*/
/*margin: 0;*/
/*text-align: center;*/
/*}*/
.row-no {
    margin-left: -22px;
}

.fund-item {
    padding: 0;
    font-size: 14px;
    color: #414b6c;
    min-height: 36px;
    padding-top: 16px;
}

#holdings .dashed-line {
    border-bottom: 1px dashed #cacaca;
    margin: 20px -2px 0;
}

#holdings .index-tabs {
    margin-top: 20px;
}

#holdings .index-tabs-items {
    border: none;
    font-size: 14px;
    margin-left: 1px;
    border-bottom: 1px solid #ddd;
}

#holdings .index-tabs-items > li.active > a, #holdings .index-tabs-items > li.active > a:focus, #holdings .index-tabs-items > li.active > a:hover {
    cursor: default;
    /*background-color: #4a60a3;*/
    border: none;
    border-bottom: 3px solid #4a60a3;
    /*border-bottom-color: red;*/
    /*color: #ffffff;*/
}

#holdings .index-tabs-items li a {
    color: #525252;
    margin-right: 16px;
    width: 84px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 0;
    padding: 0;
}

.index-1-comb > li.active > a, .index-1-comb > li.active > a:focus, .index-1-comb > li.active > a:hover {
    cursor: default;
    border: none;
    border-bottom: 2px solid #455ca1;
}

.index-1-comb li a {
    color: #525252;
    margin-right: 16px;
    width: 60px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 0;
    padding: 0;
}

.index-tabs .tab-content {
    width: 100%;
    margin: 10px 0;
}

.index-tabs .tab-content .nav-tabs {
    font-size: 14px;
}

.index-1-comb {
    padding-left: 15px;
}

#index1 {
    margin-top: 10px;
}

a:hover {
    text-decoration: none;
}

table {
    text-align: center;
    font-size: 12px;
}

thead {
    background-color: #f2f3f8;
}

.checkbox {
    float: left;
}

.table-responsive {
    margin-top: 12px;
}

.query {
    margin-bottom: 10px;
    margin-left: 17px;
    font-size: 12px;
}

.query input {
    margin: 0 10px;
    height: 19px;
    padding-left: 3px;
    padding-bottom: 2px;
}

.query a {
    text-align: center;
    color: #fff;
    background-color: #4a60a3;
    padding: 2px 12px;
}

.pages {
    float: right;
}

#analysis {
    width: 810px;
    height: 600px;
    background-color: #fff;
}

#index1-1 table tr td a {
    color: #525252;
}

.h-query, .s-query {
    background-color: #4a60a3;
    color: #fff;
    cursor: pointer;
    padding: 2px 10px;
    /*text-align: center;*/
}

.orderStock table .call-back:hover {
    text-decoration: underline;
    cursor: pointer
}

.user_account {
    margin-left: -26px;
}

.user_account span {
    margin-left: 300px;
    margin-top: 20px;
}

/*获取子账户的概念*/
/*我的关注*/
.attention {
    min-height: 60px;
    position: relative;
    margin-top: 20px;
}

.attention #loading {
    margin-top: 35px;
    height: 100px
}

.attention .btn-groupList li {
    color: #414b6c;
    height: 25px;
    padding: 0 10px;
    line-height: 23px;
    text-align: center;
    margin-right: 17px;
    cursor: pointer;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    position: relative;
}

.attention .btn-groupList .gp-active {
    color: #fff;
    background: #4a60a3;
}

.attention .btn-groupList .dropdown-menu {
    left: 0;
    top: 30px;
    min-width: 100%;
    margin-top: 0;
    position: absolute;
    background: #fff;
}

.attention .btn-groupList .dropdown-menu li {
    border: 0;
    margin: 0 auto;
}

.attention .btn-groupList .dropdown-menu li a {
    padding: 3px;
}

.attention hr {
    border: 1px dashed #E8E8E8;
    margin: 0 0 15px;
}

.attention .group-stock-list tr input[type='checkbox'] {
    margin-right: 5px;
    margin-top: 3px;
}

.group-stock-list thead td .sort_img {
    width: 8px;
    height: 11px;
    margin-left: 2px;
    cursor: pointer
}

.btn-del-stock {
    display: none;
    cursor: pointer;
}

.bulk-trade-op img {
    cursor: pointer
}

.table > tbody > tr > td {
    padding: 8px 9px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
