html,body{font-family: 'Microsoft Yahei', Helvetica, Arial, sans-serif;}
.wk-login-box{max-width: 1000px;position: absolute; top: 50%;  left: 50%; transform: translate(-50%, -50%);}
.wk-login-left{height: 420px;min-width: 390px; background: url('/static/imgs/i/logo_bg.png') no-repeat center;}
.wk-login-left img{padding:40px 0 0 50px;}
.wk-login-left label{font-weight: 100; font-size: 44px;color: #FFFFFF;font-family: 'Microsoft Yahei', Helvetica, Arial, sans-serif;}
.wk-login-right{padding-left: 50px;}
.wk-login-right button{background-color: #06c;width: 120px;}
.wk-login-input-title{height: 52px;background-color: #0066cc;}
.wk-login-input-title span{font-size: 16px;color: #FFFFFF;line-height: 52px;margin-left: 20px;}
.wk-login-input-body{height: 368px;background-color: #FFFFFF;padding: 80px;}
.wk-login-input-body input:not([type='checkbox']){height: 38px;}
.wk-login-input-body .form-group{min-width: 220px;}
#select2-platformlist-container {font-size: 16px;line-height: 40px;}
.select2-selection.select2-selection--single{height: 38px;}
@media screen and (max-width: 1000px) {
    .wk-login-right{padding:0; }
    .wk-login-left{display: none;}
}