/*中间主体内容框架*/
.wk-content-head,.wk-content-zoushi,.wk-content-zhanbi,.wk-content-jilu{border: 1px solid #d1d1d1; margin-top: 35px;-webkit-box-shadow: #d1d1d1 0px 2px 8px;-moz-box-shadow: #d1d1d1 0px 2px 8px;box-shadow: #d1d1d1 0px 2px 8px;}
.wk-content-head{min-height:180px;padding-top: 28px;}
.wk-content-zoushi{min-height: 385px;}
.wk-content-zhanbi{min-height: 400px;padding: 0 20px 0 20px;}
.wk-content-jilu{min-height: 400px;padding: 0 20px 0 20px;margin-bottom: 40px;}

.wk-content-title{font-size: 18px;font-weight: 600;padding: 20px 0 0 0;}
.wk-content-head p{margin-bottom: 0px;}

/*排行榜模块*/
.wk-lst-title{font-size: 28px;color: #08237a;font-weight: 600;}
.wk-lst-title span{font-size: 12px;background-color: #3b49a4;vertical-align: middle;}
.wk-lst-title-money{font-size: 22px;font-weight: 600;}
.wk-lst-title-money span{font-size: 12px;vertical-align: middle;padding-left: 0;}
.wk-lst-content{font-size: 10px;color: #878787;}
.wk-head-table{font-size: 12px;border: 1px #d3d3d3 solid;}
.wk-head-table tr{height: 30px;text-align: center;}
.wk-head-tr-bgcolor{background-color: #4d5aad;color: #FFFFFF;}

/*行业占比*/
.wk-zhanbi-right{border: 1px solid #eeeeee;overflow: auto;height: 300px;}
.wk-zhanbi-right table{margin-bottom: 0;}
.wk-zhanbi-right table >thead>tr>td{border-bottom: 1px solid #eeeeee; cursor: pointer;font-size: 14px;color: #08237a;}
.wk-zhanbi-right table >tbody>tr>td{border: none;cursor: pointer;}

/*走势图*/
/*调仓记录*/
.wk-content-headtable{margin-bottom: 0;border-bottom:0;}
.wk-content-contable{border: 1px solid #eeeeee;}
.wk-content-table-scolll{overflow: auto;height: 360px;}
.wk-content-jilu table{font-size: 12px;}
.wk-content-jilu table >thead>tr>td{border: none; cursor: pointer;}
.wk-content-jilu table >tbody>tr>td{border: none;cursor: pointer;}
.wk-content-jilu table thead{font-size: 14px;background-color: #666699;color: #FFFFFF;}
.wk-content-jilu table tbody tr:nth-of-type(2n){background-color: #f7f7f7;}



