/*指数显示*/
.wk-stock-index{margin-top: 25px;}
.wk-stock-index .col-md-3{padding: 15px 8px 0 8px;}
.wk-stock-index p{margin-bottom: 0;}
.wk-stock-index-border{border-bottom: 2px solid;  margin: 15px 10px 0; }
.wk-stock-index-name{font-size: 16px;}
.wk-stock-index-num{font-size: 26px;font-weight: 600;}
.wk-stock-index-box .col-md-6{padding: 0;}
.wk-stock-index-box .col-md-6:first-child{padding-top: 6px;float: left;}
.wk-stock-index-box .col-md-6 p{margin-bottom: 0;}
.wk-stock-index-separator{height: 72px;width: 1px;border-left: 1px solid #eeeeee;}

/*股票策略列表头部*/
.wk-strategy-title{margin-top: 30px;}
.wk-strategy-title hr{clear: both;border-top: 2px solid #eeeeee;margin-bottom: 0;margin-top: 0;}
.wk-strategy-title p{font-size: 20px;float: left;padding-left: 15px;}
.wk-strategy-title span{font-size: 14px;color: #919191;float: right;margin-top: 10px;padding-right: 15px;}
.wk-strategy-title span a{text-decoration: none;color: #919191;}

/*股票策略列表内容*/
.wk-strategy-head{margin-top: 25px;background: url("../../imgs/s/title-box.png") no-repeat left;color: #FFFFFF;padding: 4px 0 2px 18px;}
.wk-strategy-head a{color: #FFFFFF;text-decoration: none;}
.wk-strategy-content{border:1px solid #d1d1d1;background-color: #f6f8fa;height: 242px;}
.wk-strategy-chart{margin: 6px;border: 1px solid #eeeeee;background-color: #FFFFFF;}
.wk-strategy-chart-top{height: 170px;}
.wk-strategy-chart-bottom{height: 55px;}
.wk-strategy-chart-bottom-left{float: left;margin-left: 8px;margin-top: 8px;}
.wk-strategy-chart-bottom-left p:last-child{text-align: center;font-size: 19.67px;margin-bottom: 0;}
.wk-strategy-chart-bottom-left p:first-child{text-align: center;font-size:13.77px;margin-bottom: 0;}
.wk-strategy-chart-bottom-right{float: right;margin-right: 8px;margin-top: 8px;}
.wk-strategy-chart-bottom-right p:last-child{text-align:center; font-size: 19.67px;margin-bottom: 0;}
.wk-strategy-chart-bottom-right p:first-child{text-align: center;font-size: 13.77px;margin-bottom: 0;}

/*列表tab标签*/
.wk-strategy-tab{display:inline-block;margin-top: 25px;width: 100%;}
.wk-strategy-tab span{font-size: 20px;}
.wk-strategy-tab hr{margin-top: 0;margin-bottom: 0;border-top: 2px solid #eee;}
.wk-strategy-tab label{font-size: 14px;color: #919191;margin-left: 38px;cursor: pointer;}
.wk-strategy-tab .active{color: #666699;}
.wk-all-list .row{display: none;margin-bottom: 40px;}
.wk-all-list .row.active{display: block;}